body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #1D57FF;
}

/* Navigation Styles */
nav {
    background-color: #FF0000;
    text-align: center;
    position: sticky;
    padding: 25px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #FFD800;
}

header {
    text-align: center;
    background-color: #FFD800;
    color: #20B2AA;
    padding: 100px 0px;
}

.name{
    font-size: 2.5em;
    margin-bottom: 5px;
}

.tagline {
    font-style: italic;
    color: #008080;
}

h2, h3 {
    color: #FF0000;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2A52BE;
    color: #FFD800;  
    padding: 20px; 
    font-size: 1em;
}